* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Space Mono', monospace;
    font-family: 'Work Sans', sans-serif;
}

header {
    background-color: rgba(255, 144, 14, 0.10);
    padding: 20px 200px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    font-weight: 500;
}

nav ul li {
    text-decoration: none;
    list-style: none;
    margin-right: 30px;
}
.section-title{
    font-size: 2.8rem;
}

.banner-img {
    width: 100%;
    margin-top: 40px;
}

.banner {
    text-align: center;
}

.banner-title {
    color: #131313;
    text-align: center;
    font-size: 3.8rem;
    font-weight: 700;
    margin-top: 100px;
}

.banner-des {
    color: #727272;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    margin: 15px 0;
    /* line-height: 26px; 162.5% */
}
.btn-primary{
    background-color: #FF900E;
    color: white;
    padding: 20px 25px;
    border: none;
    border-radius: 10px;
}
.banner-content{
    width: 90%;
    margin: auto;
}
.team-img{
    width: 100%;
}
.features-container{
    display: flex;
    padding: 50px 200px;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.features-imgs{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 5px;
    width: 150%;
    
}
.f-title{
    font-size: 2.8rem;
}
.gray{
    font-weight: 300;
    color: rgb(88, 88, 88);
}
.yellow{
    color: #FF900E;
}
.f-des{
    color: #727272;
    margin: 12px 0;
}
.features-container-2{
    padding: 50px 200px;
}
.box{
   margin: 20px 0;
   padding: 20px;
   border-radius: 10px;
    width: 386px;
    box-shadow: 4px 4px 6px gray;
}
.fe-title{
    font-size: 2.8rem;
    font-weight: 700;
    padding-left: 30px;
    border-left: 2px solid #FF900E;
}
.fe-des{
    padding-left: 30px;
}
.box-container{
    display: flex;
    justify-content: space-between;

}
.fe-img{
    width: 100%;
}
.features-img{
    width: 50%;
    margin-top: 20px;
}
/* responsive screens */
@media screen and ( max-width: 576px) {

    header {
        
        padding: 20px;
    }
    nav{
        flex-direction: column;
    }
    .features-container{
        flex-direction: column-reverse;
        padding: 50px;
    }

    
}
/* tablet */
@media screen and (min-width:576px) and (max-width: 960px) {
    
    header {
        
        padding: 50px;
    }
    nav{
        flex-direction: column;
    }
    .features-container{
        padding: 50px 150px;
        flex-direction: column-reverse;
    }
}