* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Space Mono', monospace;
    font-family: 'Work Sans', sans-serif;
}

header {
    background-color: rgba(255, 144, 14, 0.10);
    padding: 20px 200px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    font-weight: 500;
}

nav ul li {
    text-decoration: none;
    list-style: none;
    margin-right: 30px;
}

.section-title {
    font-size: 2.8rem;
}

.banner-img {
    width: 100%;
    margin-top: 40px;
}

.banner {
    text-align: center;
}

.banner-title {
    color: #131313;
    text-align: center;
    font-size: 3.8rem;
    font-weight: 700;
    margin-top: 100px;
}

.banner-des {
    color: #727272;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    margin: 15px 0;
    /* line-height: 26px; 162.5% */
}

.btn-primary {
    background-color: #FF900E;
    color: white;
    padding: 20px 25px;
    border: none;
    border-radius: 10px;
}

.banner-content {
    width: 90%;
    margin: auto;
}

.team-img {
    width: 100%;
}

.features-container {
    display: flex;
    padding: 50px 200px;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.features-imgs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 5px;
    width: 150%;

}

.f-title {
    font-size: 2.8rem;
}

.gray {
    font-weight: 300;
    color: rgb(88, 88, 88);
}

.yellow {
    color: #FF900E;
}

.f-des {
    color: #727272;
    margin: 12px 0;
}

.features-container-2 {
    padding: 50px 200px;
}

.box {
    margin: 20px 0;
    padding: 20px;
    border-radius: 10px;
    width: 386px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}

.fe-title {
    font-size: 2.8rem;
    font-weight: 700;
    padding-left: 30px;
    border-left: 2px solid #FF900E;
}

.fe-des {
    padding-left: 30px;
}

.box-container {
    display: flex;
    justify-content: space-between;

}

.box-title {
    color: #131313;
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 10px;
}

.fe-img {
    width: 100%;
    margin-left: 70px;
}

.features-img {
    /* width: 80%; */
    margin-top: 20px;

}

.years {
    font-size: 2.8rem;
    font-weight: 600;
    padding: 25px 25px;
    background-color: #FF900E;
    border: none;
    border-radius: 10px;
    color: white;
    /* position: relative; */
    margin-top: -50px;
    margin-left: 40px;

}

.small {
    font-weight: 300;
    font-size: 1.5rem;

}

.features-texts {
    margin: 0 40px;
}

.facts {
    padding: 50px 200px;
}

.facts-box {
    border: 2px solid #FF900E;
    padding: 35px 45px;
    margin: 120px 0;
    border-radius: 10px;
}

.fact-items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    gap: 20px;
}

.common-title {
    font-size: 2.8rem;
    font-weight: 700;
    margin-bottom: 20px;
}

.common-des {
    color: #727272;
}
.sponsors{
    padding: 50px 200px;
    text-align: center;
}
.sponsor-imgs{
    margin: 50px auto;
    gap: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.s-img{
    filter: grayscale();
    width: 100%;
}
.sponsor-imgs{
    width: 100px;
}

/* responsive screens */
@media screen and (max-width: 576px) {

    header {

        padding: 20px;
    }

    nav {
        flex-direction: column;
    }

    .features-container {
        flex-direction: column-reverse;
        padding: 50px;
    }

    .features-imgs {
        grid-template-columns: 1fr;
        width: 100%;
    }

    .box-container {
        flex-direction: column;
    }

    .features-container-2 {
        padding: 49px 47px;
    }

    .fe-img {
        margin: auto;
    }

    .fact-items {
        flex-direction: column;
    }
    .facts{
        padding: 30px ;
    }
    .facts-box{
        margin: 20px;
    }
    .sponsor-imgs{
        flex-direction: column;
    }
    .sponsors{
        padding: 50px;
    }




}

/* tablet */
@media screen and (min-width:576px) and (max-width: 960px) {

    header {

        padding: 50px;
    }

    nav {
        flex-direction: column;
    }

    .features-container {
        padding: 50px 10px;
        flex-direction: column-reverse;
    }

    .features-imgs {
        grid-template-columns: 1fr;
        width: 80%;
        align-items: center;
        justify-content: center;
        margin: 10px;
        padding: 10px;
    }

    .features-container-2 {
        padding: 49px 47px;
    }

    .team-img {
        margin: 10px;
        /* padding: 0px 50px ; */
    }

    .box-container {
        flex-direction: column;
    }

    .fe-img {
        margin: auto;
    }

    .box {
        width: auto;
        margin: 0 auto 20px auto;
    }

    .fact-items {
        flex-direction: column;
    }
    .facts{
        padding: 50px ;
    }
    .facts-box{
        margin: 20px;
    }
    .sponsor-imgs{
        flex-direction: column;
    }
    .sponsors{
        padding: 20px;
    }




}